$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000000;
$grey-0: #272727;
$grey-1: #696969;
$grey-2: #A9A9A9;
$grey-3: #D4D4D4;
$grey-4: #DEDEDE;
$grey-5: #EFEFEF;
$grey-6: #FFFFFF;
$blue-0: #345BFF;
$blue-1: #A4B4F5;
$blue-2: #E5EAFF;
$blue-3: #EFF2FF;
$coral-0: #FF344C;

