.shipyard {
  margin-top: 24px;
  h3 {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
}

.shipyard-layout {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    margin-bottom: 0px;
    margin-left: 24px;
  }
  p.ship-destroyed {
    color: $coral-0;
    text-decoration: line-through;
  }
}

.ship {
  display:flex;
  margin: 0px 5px;
  &:hover {
    .ship-circle {
      height:16px;
      width:16px;
      border: 2px solid $grey-1;
    }
  }
}

.ship.hit {
  .ship-circle {
    height:16px;
    width:16px;
    background-color: $coral-0;
  }
  &:hover {
    .ship-circle {
      border: none;
    }
  }
}

.ship-layout {
  background-size: contain;
  background-repeat: no-repeat;
  height:28px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-back {
  margin-right: -2px;
}

.ship-circle {
  background-color: $grey-2;
  height:12px;
  width:12px;
  border-radius: 50%;
}