.navbar-bearer {
  justify-content: space-between;
  padding: 0 60px;
  height: 96px;
  background: radial-gradient(100% 100% at 50% 0%, #FFFFFF 0%, #F6F6F6 100%);
  p {
    color: $grey-1;
  }
}

.navbar-bearer .navbar-collapse {
  flex-grow: 0;
}

.navbar-bearer .navbar-brand img {
  height: 45px;
}
